@media screen and (min-width: 721px) {
    html {
    font-size: 75%;
    }
    #logo {
        font-size: 2rem;
        width: 144px;
        margin-left: 24px;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        opacity: 0;
    }
}
@media screen and (max-width: 720px) {
    html {
        font-size: 62.5%;
    }
    #logo {
        font-size: 2rem;
        width: 120px;
        margin-left: 20px;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        opacity: 0;
    }
}
    
body {
    font-size: 1.5rem;
    font-family: serif;
    margin: 0;
}

.cover {
    z-index: -10;
}
nav.menu {
    z-index: -10;
    opacity: 0