@media screen and (min-width: 721px) {
    html {
    font-size: 75%;
    }
    #logo {
        font-size: 2rem;
        width: 144px;
        margin-left: 24px;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        opacity: 0;
    }
}
@media screen and (max-width: 720px) {
    html {
        font-size: 62.5%;
    }
    #logo {
        font-size: 2rem;
        width: 120px;
        margin-left: 20px;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        opacity: 0;
    }
}
    
body {
    font-size: 1.5rem;
    font-family: serif;
    margin: 0;
}

.cover {
    z-index: -10;
}
nav.menu {
    z-index: -10;
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: fixed; 
}
nav.menu2 {
    z-index: -10;
    opacity: 0;
    display: flex;
    justify-content: left;
    position: fixed;
    width: 15%;
}


@media screen and (max-width: 720px) {
/*-----メニュー（展開後）のcss--------*/
nav.menu ul { 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav.menu li {
    font-size: 4vh;
    display: inline-block;
}
nav.menu li:hover {
    display: inline-block;
    transition: 0.5s;
    width: 100%; /*問題あるかも*/
    text-align: center;
    background: linear-gradient(.25turn, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.439) 50%, rgba(255, 255, 255, 0) 100%);
    color: black;
}
nav.active {
    opacity: 1;
    z-index: 4;
}
ul {
    padding-left: 0;
}
li {
    list-style: none;
}

/*-------------------*/

/*-----ハンバーガーのcss--------*/
.openbtn {
    position: fixed;
    top: 30px;
    right: 50px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.openbtn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background: #fff;
  	width: 45%;
}
.openbtn span:nth-of-type(1) {
	top:15px;	
}
.openbtn span:nth-of-type(2) {
	top:23px;
}
.openbtn span:nth-of-type(3) {
	top: 31px;
}
.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 45%;
}
.openbtn.active span:nth-of-type(2) {
	opacity: 0;/*真ん中の線は透過*/
}
.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 45%;
}

}

@media screen and (min-width: 721px) {
nav.menu2 {
    z-index: 10;
    opacity: 1;
}
nav.menu2 ul {
    height: 100%;
}
nav.menu2 li {
    height: 100%;
    display: block;
    padding: 10px;
}
nav.menu2 li:hover {
    transition: 0.5s;
    color: white;
    background-color: rgb(114, 114, 114);
}

}


/*-------------------*/
/*グレーカバーのcss*/
.cover.active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    background-color: gray;
    opacity: 0.9;
    display: block;
    z-index: 3; /*z-indexだよ*/
}
.line.active {
    position: fixed;
    background-color: white;
    width: 1000px;
    height: 10px;
    display: block;
    top: 100px;
    right: -300px;
    z-index: 3;
    transform: rotate(30deg);
    transition: 0.5s;
}
.line2.active {
    position: fixed;
    background-color: white;
    width: 1000px;
    height: 10px;
    display: block;
    right: -405px;
    bottom: 300px;
    z-index: 3;
    transform: rotate(-75deg);
    transition: 0.5s;
}
.title {
    opacity: 0;
}
.title.active {
    position: fixed;
    display: inline-block;
    top: 10px;
    left: 10px;
    opacity: 1;
    writing-mode: vertical-rl;
    color: white;
    z-index: 3;
}
/*-------------------*/

header {
    opacity: 0;
    position: fixed;
    max-width: 500px;
    height: 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    z-index: 5; /*z-indexだよ*/
}

/*------斜面アニメ------*/
.bg1 {
    animation-name: PageAnime-ttb;
}
@keyframes PageAnime-ttb {
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }
    100% {
        transform-origin: top;
        transform: scaleY(1);
    }
}
.bg2 {
    animation-name: PageAnime-btt;
}
@keyframes PageAnime-btt {
    0% {
        transform-origin: bottom;
        transform: scaleY(0);
    }
    100% {
        transform-origin: bottom;
        transform: scaleY(1);
    }
}

.bg1 {
   background: rgb(255, 210, 217);
   display: block;
   content: "";
   position: fixed;
   z-index: -1;
   width: 100%;
   height: 100vh;
   top: 0;
   left: 0;
   animation-duration: 1s;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
   clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.bg2 {
    background: rgb(210, 255, 227);
    display: block;
    content: "";
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    top: 200px;
    right: 0;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    clip-path:polygon(0 68%, 100% 0, 100% 100%, 0 100%);
 }
/*----------------*/


.container {
    text-align: center;
}

footer {
    background-color: gray;
    color: white;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

#mainvisual img {
    width: 100%;
}

#gnrl {
    font-weight: bold;
}

#support {
    display: flex;
    margin-left: 4%;
    align-items: center;
    text-align: left;
    font-size: 1rem;
    line-height: 1.2em;
}


 
/*------infoのcss------*/
.info {
    position: relative;
    display: block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: rgb(191, 191, 191);
    text-align: left;
    padding: 15px;
    z-index: 2;
}

.info::after {
   content: ''; /*擬似要素にはcontent, displayの指定が欲しい*/
   display: block;
   position: absolute;
   right: 20px;
   bottom: 20px;
   width: 15px;
   height: 15px;
   border-top: 2px solid black;
   border-right: 2px solid black;
   transform: rotate(45deg);
}

.info:hover {
    transition: 0.5s;
    background-color: white;
}
.info:hover::after {
    transition: 0.5s;
    right: 3px;
}
/*---------------------*/
/*----------見出しのcss-----------*/
.underline.active:before {
    border-bottom: 2px solid;
    transition: 0.5s;
    transition-timing-function: ease-out;
    opacity: 1s;
 }

#news {
    position: relative;
    width: 100%;
    margin-top: 20vh;
    word-break: keep-all;
 }
 
 #news:before {
     position: absolute;
     content: 'NEWS';
     top: -100px;
     left: 30px;
     font-size: 2em;
 }

#story {
    position: relative;
    width: 100%;
    margin-top: 20vh;
    word-break: keep-all;
    font-size: 1em;
 }
 
 #story:before {
     position: absolute;
     content: 'STORY';
     top: -100px;
     left: 30px;
     font-size: 2em;
 }

 #cast {
    position: relative;
    width: 100%;
    margin-top: 20vh;
 }
 
 #cast:before {
     position: absolute;
     content: 'CAST';
     top: -100px;
     left: 30px;
     font-size: 2em;
 }


#staff {
   position: relative;
   width: 100%;
   margin-top: 20vh;
}

#staff:before {
    position: absolute;
    content: 'STAFF';
    top: -100px;
    left: 30px;
    font-size: 2em;
}

#ticket {
    position: relative;
    width: 100%;
    margin-top: 20vh;
    word-break: keep-all;
 }
 
 #ticket:before {
     position: absolute;
     content: 'TICKET';
     top: -100px;
     left: 30px;
     font-size: 2em;
 }

 #special {
    position: relative;
    width: 100%;
    margin-top: 20vh;
 }
 
 #special:before {
     position: absolute;
     content: 'SPECIAL';
     top: -100px;
     left: 30px;
     font-size: 2em;
 }
 #guide {
    position: relative;
    width: 100%;
    margin-top: 20vh;
 }
 
 #guide:before {
     position: absolute;
     content: 'GUIDE';
     top: -100px;
     left: 30px;
     font-size: 2em;
 }
/*---------------------*/
/*---クレジットのcss---*/
.credit {
    display: flex;
}
.list {
    display: block; 
    width: 40%; 
    text-align: right; 
    float: left; 
    margin-right: 10%;
    word-break: keep-all;
}
.name {
    display: block; 
    width: 50%; 
    text-align: left;
    word-break: keep-all;
}
/*--------------*/


/*---js関連---*/

.fadeIn {
    transition: 0.5s;
    opacity: 1;
}